.dashboard_section {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: radial-gradient(#f6faff,#ffffff);
}

.index_titles {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.brands_available {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.brand {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.brand:hover {
    scale: 1.05;
    background: radial-gradient(circle at center, #ffffff 0%, #004c7c 80%);
    text-decoration: underline;
    font-weight: bold;
    color: #003149;
}

.brand:active {
    background: #8cfff2;
}

.output_result_kpi {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    background: #d2fffe;
}

#selected_brand_output{
    margin: 50px;
}

.kpi_number {
    font-weight: bold;
}