#text_title{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}

#submit_button{
    width: 200px;
}

#condition_report_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 20px
}