{% extends "base.html" %}

{% block content %}

<div class="page-wrapper">

<div id="welcome_text">
    <h1>Main Dashboard</h1>
<br>
<p class="index_titles">Brands Available</p>
<section class="dashboard_section">
<!--KPI Number of cars Available-->
  <div id="kpis_cars_available">
      <p>Cars in Stock</p>
      <p>{{ total_cars }}</p>
  </div>
<!--Choose Brand-->
  <div class="brands_available">
      {% for brand in brands %}
            <form action="/" method="POST" style="display:inline;">
                <input type="hidden" name="brand" value="{{ brand }}">
                <div class="brand" role="button" tabindex="0" onclick="this.closest('form').submit()">
                    {{ brand }}
                </div>
            </form>
    {% endfor %}
  </div>
</section>
    <br>
<!--Choose Model-->
    <section class="dashboard_section">
  <div class="brands_available">
      {% for model in models %}
            <form action="/" method="POST" style="display:inline;">
                <input type="hidden" name="model" value="{{ model }}">
                <div class="brand" role="button" tabindex="0" onclick="this.closest('form').submit()">
                    {{ model }}
                </div>
            </form>
    {% endfor %}
  </div>
    </section>

<!--Display Results-->
      {% if brand_count %}
<div id="selected_brand_output">
      <p class="output_result_kpi"><span class="kpi_number">{{ brand_count }}</span> {{ brand_selected }}'s {{model_selected}} in stock. </p>
      <p class="output_result_kpi"><span class="kpi_number">{{units_sold_brand}}</span> {{ brand_selected }}'s {{model_selected}} sold last 30 days.</p>
      <p class="output_result_kpi">Sold on Average for <span class="kpi_number">{{avg_selling_price}} €</span>.</p>
    {% endif %}
</div>

</div>
{% endblock content %}